// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

@mixin HorizontalCenter ($type: margin){
    @if $type == margin {
        margin: 0 auto;
    }
    @else {
        left: 50%;
        transform: translateX(-50%);
    }
}

body {
    background-color: $light-txt;
}


img.logo{
    margin-left: 15px;
    width: 102px;
    height: 52px;
}

// RSS

.item {
    &-content {
        width: 500px !important;
    }
    &-content img {
        height: 200px;
        width: 250px;
        margin-right: 10px;
    }
    &-list::after {
        content: "";
        display: block;
        width: 80%;
        height: 1px;
        background-color: $main-clr;
        margin-bottom: 10px;
    }

    &-title {
        font-weight: bold;
    }
}

.article-items {
    margin: 0 auto;
    color: $main-clr;
}

.react-block {
    font-size: 24px;
}

.react-block > div {
    padding: 8px 16px;
}


// END RSS

select {
    border: none;
    outline: none;
    color: $main-clr;
}
option {
    padding: 8px 16px;
    border-radius: 0;
    border: 1px solid $main-clr;
}

// END CONTENT

#app{
    margin-left: 300px;
}

.header {
    height: 60px;
    border-bottom: 2px solid $main-clr;
    z-index: 9999;
    &-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &-right {
        color: $main-clr;  
    }

    &-search, &-account {
        display: flex;
        align-items: center;
    }

    .search {   
        &-btn {
            border: none;
            background-color: transparent;
            color: $main-clr;
        }
        
        &-input {
            width: 250px;
            padding: 6px;
            font-style: italic;
        }

        &-input:focus-visible {
            border: 2px solid $main-clr;
            outline: none;
        }

        &-icon {
            padding: 8px 15px;
            font-size: 1.125rem;
            cursor: pointer;
        }
    }

    &-account {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .account{
        &-block {
            position: relative;
        }

        &-icon {
            font-size: 1.125rem;
            padding: 14px 15px;
            cursor: pointer;
        }
    }
}

.dropdown {
    position: absolute;
    display: none;
    top: 110%;
    left: 0;
    min-width: 150px;
    background-color: #fff;
    border: 3px double $main-clr;
    box-shadow: 0 0 5px 2px #ccc;
    z-index: 9;
}

.dropdown > div {
    padding: 10px;

}

.dropdown > div:nth-child(even) {
    border-top: 1px solid $main-clr;
}

.dropdown a {
    color: $main-clr;
}

// END HEADER

.filter{
    
    &{
        cursor: pointer;
        color: $main-clr;
    }
    
    &-icon {
        padding: 15px 16px;
    }

    
    &-btn {
        & a {
            color: $main-clr;
        }
    }

    &-dropdown {
        position: relative;

    }
}
.filter-block {
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid $main-clr;
    background-color: $light-txt;
    border-radius: 5px;
    min-width: 70px;
    text-align: left;
    z-index: 19;
    display: none;
    & a {
        padding: 8px 10px;
    }

    & div:nth-child(even) {
        border-top: 1px solid $main-clr;
    }

    & div {
        transition: all .25s linear;
    }

    & div:hover {
        background-color: rgba(250, 125, 9, 25%);

    }
}

// END Filter

.nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $main-clr;
    border: 2px solid $main-clr;
    border-top-right-radius: 66px;
    border-bottom-right-radius: 80px;

    &-bar {
        display: block;
        width: 300px;
        margin-top: 60px;
        background-color: $light-txt;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 80px;
        &-item {
            list-style: none;
            padding: 8px 15px;
            transition: all .25s linear;    
        }

        &-item:hover  {
            background-color: rgba(250, 125, 9, 25%);
        }
    
        &-item > a {
            color: $main-clr;
        }
    }
}

.form-control {
    background-color: $light-txt;
}

// END NAVIGATION
.register{
    &-box {
       margin: 0 auto;
    }

// đăng kí cộng tác viên
    &-author{
        text-align: center;
    }
    
    &-author__poster > img {
        width: 100%;
        height: 100%;
        border: 1px solid $main-clr;
        border-radius: 10px;
        opacity: 0.25;
    }

    &-author__poster {
        position: relative;
    }

    &-author__title {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        color: $main-clr;
        min-width: 500px;

    }

    &-author__sub {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        color: $main-clr;
        font-size: 1.25rem;
    }

    &-author__btn {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $main-clr;
        border-radius: 8px;
    }

    &-author__btn a {
        padding: 16px 32px;
        text-decoration: none;
        color: $light-txt;
        font-size: 1.25rem;
    }

// Đăng kí thường
    &-form {
        font-size: 1.25rem;
        color: $main-clr;
    }

    &-title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    &-title__text {
        font-size: 2rem;
    }

    &-title__icon {
        padding: 14px 16px;
        border: 2px solid $main-clr;
        border-radius: 50%;
    }

    &-block__btn {
        width: 60%;
        text-align: center;
        margin-top: 25px;
        @include HorizontalCenter();
    }
    
    &-btn:hover  {
        color: $light-txt;
        background-color: $main-clr;
    }
    
    &-btn {
        background-color: $light-txt;
        border: 2px solid $main-clr;
        color: $main-clr;
        border-radius: 8px;
        background-color: transparent;
        padding: 0 40px;
    }
}

.login {

    &-form { 
        font-size: 1.25rem;
        color: $main-clr;
    }

    &-title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    &-title__text {
        font-size: 2rem;
    }

    &-title__icon {
        padding: 14px 16px;
        border: 2px solid $main-clr;
        border-radius: 50%;
    }
}
// Footer
.footer {
    color: $light-txt;
    background-color: #fa9e09;
    margin-left: 4.5px;
    & a {
        color: $light-txt;

    }

    &-media {
        font-size: 24px;
    }

    &-category {
        text-align: center;
    }

    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > .row:nth-child(2){
        border-top: 1px solid $main-clr;
    }

    &-channel {
        padding-left: 25px;
        padding-top: 15px;
        box-shadow: 0 5px 5px 0 $light-txt;
    }

    &-member {
        padding-left: 25px;
        padding-block: 15px;
        box-shadow: 5px 0 5px 0 $light-txt;

    }

    .member {
        padding-left: 20px;
    } 

}

// Other
.active {
    display: block !important;
}

.paginate {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > div:nth-child(1) {
    display:none;
}

nav > div:nth-child(2) a {
    color: #000;
    background-color: $main-clr;
}

.pick {
    color: #16BFF1 !important;
}

.w-5.h-5 {
    width: 25px;
    font-weight: 500;
}



