// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

@mixin HorizontalCenter ($type: margin){
    @if $type == margin {
        margin: 0 auto;
    }
    @else {
        left: 50%;
        transform: translateX(-50%);
    }
}

body {
    background-color: $light-txt;
}

.item-content.d-flex.flex-column {
    width: 500px !important;
}

img.logo{
    width: 102px;
    height: 52px;
}

.header {
    height: 60px;
    z-index: 9999;
    &-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-right {
        color: $main-clr;  
    }

    &-search, &-account {
        display: flex;
        align-items: center;
    }

    .search {
        
        &-input {
            width: 250px;
            padding: 6px;
            color: #ccc;
            font-style: italic;
        }

        &-input:focus-visible {
            border: 2px solid $main-clr;
            outline: none;
        }

        &-icon {
            padding: 8px 15px;
            font-size: 1.125rem;
            cursor: pointer;
        }
    }

    &-account {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .account{
        &-block {
            position: relative;
        }

        &-icon {
            font-size: 1.125rem;
            padding: 14px 15px;
            cursor: pointer;
        }
    }
}

.dropdown {
    position: absolute;
    display: none;
    top: 110%;
    left: 0;
    min-width: 150px;
    background-color: #fff;
    border: 3px double $main-clr;
    box-shadow: 0 0 5px 2px #ccc;
    z-index: 9;
}

.dropdown > div {
    padding: 10px;

}

.dropdown > div:nth-child(even) {
    border-top: 1px solid $main-clr;
}

.dropdown a {
    color: $main-clr;
}

// END HEADER
.nav {
    display: flex;
    justify-content: center;
    background-color: $main-clr;

    &-bar {
        display: flex;
        
        &-item {
            list-style: none;
            padding: 8px 15px;    
        }
    
        &-item > a {
            color: $light-txt;
        }
    }
}

.form-control {
    background-color: $light-txt;
}

.register{
    &-box {
       margin: 0 auto;
    }

// END NAVIGATION

.item-content.d-flex.flex-column {
    width: 500px !important;
}

// END CONTENT

// đăng kí cộng tác viên
    &-author{
        text-align: center;
    }
    
    &-author__poster > img {
        width: 100%;
        height: 100%;
        border: 1px solid $main-clr;
        border-radius: 10px;
        opacity: 0.25;
    }

    &-author__poster {
        position: relative;
    }

    &-author__title {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        color: $main-clr;
        min-width: 500px;

    }

    &-author__sub {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        color: $main-clr;
        font-size: 1.25rem;
    }

    &-author__btn {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $main-clr;
        border-radius: 8px;
    }

    &-author__btn a {
        padding: 16px 32px;
        text-decoration: none;
        color: $light-txt;
        font-size: 1.25rem;
    }

// Đăng kí thường
    &-form {
        font-size: 1.25rem;
        color: $main-clr;
    }

    &-title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    &-title__text {
        font-size: 2rem;
    }

    &-title__icon {
        padding: 14px 16px;
        border: 2px solid $main-clr;
        border-radius: 50%;
    }

    &-block__btn {
        width: 60%;
        text-align: center;
        margin-top: 25px;
        @include HorizontalCenter();
    }
    
    &-btn:hover  {
        color: $light-txt;
        background-color: $main-clr;
    }
    
    &-btn {
        background-color: $light-txt;
        border: 2px solid $main-clr;
        color: $main-clr;
        border-radius: 8px;
        background-color: transparent;
        padding: 0 40px;
    }
}

.login {

    &-form { 
        font-size: 1.25rem;
        color: $main-clr;
    }

    &-title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    &-title__text {
        font-size: 2rem;
    }

    &-title__icon {
        padding: 14px 16px;
        border: 2px solid $main-clr;
        border-radius: 50%;
    }
}

.active {
    display: block;
}